.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
/*  background-image: url('http://www.llnphoenix.be/images/background/background9.jpg');
*/}

h1 {
  text-align: center;
  font-family: sans-serif;
}

.profilepicture {
  width: 5%;
  height: 5%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

/* Custom page header */
.header {
  margin-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar {
  background-color: #426F42;
  color: white;
  border: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.singlegameboxes {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: lightgrey;
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.viewgamebtn {
  font-size: 1em;
  padding: 3% 3%;
  margin: 5% 0 0 40%;
  color: black;
  border-radius: 5px;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

table {
  border: 1px solid green;
  width: 100%;
}

th {
 border-bottom-right-radius: 1px solid black;
}

td {

}

.games {
  margin: 5% 0;
  min-height: 130px;
}

.teamname {

}

.teamlogo {
  width: 25%;
  padding: 0 5%;
}

@media screen and (max-width : 1200px) {

  body {
    background-color: yellow;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  table {
    border: 1px solid black;
    width: 100%;
  }

  th {
   border-bottom-right-radius: 1px solid black;
  }

  td {

  }
}

@media screen and (max-width : 992px) {

  body {
    background-color: white;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  table {
      border: 1px solid black;
      width: 100%;
      border-radius: 5px;
      padding: 5px;
  }

  th {
   border-bottom-right-radius: 1px solid black;
  }

  td {
    padding: 5px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width : 768px) {

  body {
    background-color: purple;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  table {
    border: 1px solid black;
    width: 100%;
}

th {
 border-bottom-right-radius: 1px solid black;
}

td {

}
}

@media screen and (max-width : 480px) {

  body {
    background-color: blue;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .singlegameboxes {
    margin: 5% 0;
  }

  button {
    border-radius: 5px;
  }

  table {
    border: 1px solid black;
    width: 100%;
}

th {
 border-bottom-right-radius: 1px solid black;
}

td {

}
}

@media screen and (max-width : 320px) {

  body {
    background-color: green;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  table {
    border: 1px solid black;
    width: 100%;
  }

  th {
   border-bottom-right-radius: 1px solid black;
  }

  td {

  }

}